*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #0e0d0d;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #0e0d0d;
}

h4{
    font-size: 20px;
    color: #0e0d0d;
}

h6{
    font-weight: 700;
    font-size: 12px;
    color: #000;
}

p{
    font-size: 16px;
    color: #080808;
    margin: 15px 0 20px 0;
}
.section-p1{
    padding: 40px 0;
}
.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600px;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
button.normal:hover {
    background-color: #088178;
    color: #fff;
  }
  body {
    width: 100%;
  }
  
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e3e3e3;
    padding: 20px,80px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-list-nav ul{
    display: flex;
}

.header-list-nav ul li{
    list-style-type: none;
    padding: 0 20px;
    position: relative;
}

.header-list-nav ul a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

.header-list-nav ul a:hover,
.header-list-nav ul a.active{
    color: #088178;
    content: "";
}

.header-logo img{
    width: 100px;
    height: 50px;
    padding-left: 50px;
}
.header-list-icon a{
    color: #1a1a1a;
    padding-right: 20px;
    transition: 0.3s ease;
}

.header-list-icon a:hover,
.header-list-nav ul a.active {
    color: #088178;
}

.header-list-nav ul li a:hover::after,
.header-list-nav ul li a.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.header-logo img{
    width: 80px;
    height: 60px;
    padding: 0;
}

#hero{
    background-image: url(mm.jpg);
    height: 100vh;
    width: 100%;
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    padding:0 80px;
}

#hero h4{
    padding-bottom: 15px;
    font-size: 40px;
    color: #000;
}
#hero h2{
    font-size: 70px;
}

#hero h1{
    color: #6995b0;
    font-size: 70px;
}

#hero button{
    background-color: transparent;
    background-image: url(button.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 260px;
    height: 60px;
    border: 0;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    color:#e11b3f;
    padding: 14px 65px 14px 65px;
}
#features{
    display:flex;
    align-items: center;
    justify-content: space-around;
}
#features .fox-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
    transition: box-shadow 0.3s;
}
#features .fox-box:hover{
    box-shadow: 10px 10px 54px rgba(0,0,0,0.01);
}
#features .f-box img{
    width: 100%;
    margin-bottom: 10px;
}
#features .f-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    font-size: 14px;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}
#features .f-box:nth-child(2) h6 {
    background-color: #cdebbc;
  }
  #features .f-box:nth-child(3) h6 {
    background-color: #d1e8f2;
  }
  #features .f-box:nth-child(4) h6 {
    background-color: #cdd4f8;
  }
  #features .f-box:nth-child(5) h6 {
    background-color: #f6dbf6;
  }
  #features .f-box:nth-child(6) h6 {
    background-color: #fff2e5;
  }

.product-section .pro-collection{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 60px;
}
.product-section h1,
.product-section p{
    text-align: center;
}

.product-section .product-cart{
    width: 280px;
    border:1px solid #ebebeb;
    padding: 13px;
    margin-bottom: 30px;
    border-radius: 25px;
    position: relative;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    transition: box-shadow 0.2s;
}
.product-section .product-cart:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
.product-section .product-cart img{
    width: 100%;
    border-radius: 25px;
}

.product-section .product-cart span{
    color: #969696;
    font-weight: 500;
    line-height: 30px;
}

.product-section .product-cart h4{
    font-size: 18px;
    color: rgb(41,41,41);
}

.product-section .product-cart .stars{
    color: #e6ae2c;
    padding: 6px 0;
}

.product-section .product-cart .price{
    color: #088178;
    padding: 4px 0;
}

.product-section .product-cart .buy-icon{
    color: #088178;
    background-color: #c7e9e75e;
    padding: 15px;
    position: absolute;
    border-radius: 50px;
    right: 10px;
    bottom: 10px;
}

#off-banner {
    background-image: url(b2.jpg);
    background-size: cover;
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#off-banner h4 {
    color: #eaebf0;
}
#off-banner h2 {
    color: #eaebf0;
    padding: 20px 0;
}

#banners {
    margin: 0 60px;
}
#banners h2,
  h4,
  span {
    color: rgb(248, 248, 248);
}
  #banners .big-banners {
    display: flex;
    align-items: center;
    justify-content: center;
}
#banners .big-banners div {
    min-width: 580px;
    margin: 15px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 25px;
    background-size: cover;
    backdrop-filter: blur(8%);
}
#banners .big-banners button {
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
    color: rgb(248, 248, 248);
    border: 1px solid rgb(248, 248, 248);
    cursor: pointer;
    transition: 0.3s ease;
}
#banners .big-banners div:hover button {
    background-color: #088178;
    border: 1px solid #088178;
}
#banners .big-banners-1 {
    background-image: url(b17.jpg);
}
#banners .big-banners-2 {
    background-image: url(b10.jpg);
}
#banners .small-banners-1 {
    background-image: url(b7.jpg);
}
#banners .small-banners-2 {
    background-image: url(b4.jpg);
}
#banners .small-banners-3 {
    background-image: url(b18.jpg);
}
#banners .small-banners {
    display: flex;
    align-items: center;
    justify-content: center;
}
#banners .small-banners div {
    min-width: 370px;
    height: 200px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 25px;
    background-size: cover;
}
#banners .small-banners h2 {
    font-size: 25px;
}
#banners .small-banners h5 {
    color: #771818;
}
#newsletter {
    background-image: url(b14.png);
    background-repeat: no-repeat;
    background-position: 180px;
    background-color: #041e42;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 75px;
}
#newsletter .newsletter-text h3 {
    color: white;
    font-size: 30px;
    padding: 0 0 15px 0;
}
#newsletter .newsletter-text h5 {
    color: rgb(151, 151, 151);
    font-size: 17px;
}
#newsletter .newsletter-text h5 span {
    color: rgb(216, 182, 29);
}
#newsletter .form input {
    padding: 20px;
    width: 350px;
    height: 56px;
    background-color: #d1d0d0;
    border-radius: 6px 0 0 6px;
    font-size: 18px;
  
    border: none;
    outline: none;
    margin-right: -4px;
    margin-top: 1px;
}
#newsletter .form button {
    margin-left: 0;
    padding: 20px;
    border: none;
    width: 120px;
    background-color: #088178;
    color: white;
    font-size: 17px;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}

#footer{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    padding: 75px;
    background-color: #ececec;
}
/*#footer div{
  }*/
#footer p, #footer a{
    color: rgb(109, 109, 109);
    text-decoration: none;
}
#footer a:hover{
    color:#088178;
}
#footer .about a{
    display: block;
    padding:8px 0;
}
#footer .myaccount a{
    display: block;
    padding:8px 0;
}
#footer .download img{
    border: 1px solid #08817969;
    border-radius: 7px;
}

.container {
  width: 90%;     /* instead of fixed px value */
  margin: auto;
}

img, video {
  max-width: 100%;
  height: auto;
}
