/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */
header {
    width: 100%;
    background: #111;
    color: #fff;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 5%;
}

.logo {
    font-size: 26px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 28px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    transition: .3s;
}

.nav-links a:hover {
    color: #f4b400;
}

.icons {
    display: flex;
    align-items: center;
    gap: 22px;
    font-size: 22px;
}

/* Hamburger hidden in Desktop view */
.hamburger {
    display: none;
    cursor: pointer;
}

/* Hero Section */
.hero {
    height: 90vh;
    background: url('banner.jpg') center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 15px;
    color: #111;
}

.shop-btn {
    margin-top: 15px;
    background: #111;
    color: white;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: .3s;
}

.shop-btn:hover {
    background: #f4b400;
}

/* 📱 Mobile Responsive Styling */
@media(max-width: 768px){
    .nav-links {
        position: absolute;
        top: 70px;
        right: -100%;
        background: #111;
        width: 60%;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
        gap: 25px;
        transition: .4s;
    }

    .nav-links.active {
        right: 0;
    }

    .hamburger {
        display: block;
        color: white;
        font-size: 28px;
    }
}
