#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.logo {
    width: 80px;
}

nav {
    display: flex;
    align-items: center;
}

#navbar {
    display: flex;
    margin-right: 30px;
    gap: 30px;
}

#navbar li {
    list-style: none;
}

#navbar a {
    text-decoration: none;
    color: #111;
    font-weight: 600;
    transition: 0.3s;
}

#navbar a:hover {
    color: #088178;
}

#cart {
    font-size: 20px;
    color: #111;
}

#mobile {
    display: none;
    font-size: 25px;
    cursor: pointer;
}



/* -------------------- Responsive --------------------- */
@media(max-width: 900px) {
    #navbar {
        position: fixed;
        top: 0;
        left: -250px;
        height: 100vh;
        width: 220px;
        background: #e3e6f3;
        display: flex;
        flex-direction: column;
        padding-top: 80px;
        gap: 20px;
        text-align: left;
        transition: 0.4s;
    }

    #navbar.active {
        left: 0;
    }

    #mobile {
        display: block;
        margin-left: 20px;
    }

    #cart {
        margin-left: 20px;
    }
}
